<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<!--类名称 -->
	<servlet>
		<servlet-name>WebIndex</servlet-name>
		<servlet-class>com.sep.web.WebIndex</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>WebAnalysis</servlet-name>
		<servlet-class>com.sep.web.WebAnalysis</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebLogin</servlet-name>
		<servlet-class>com.sep.web.WebLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebRegister</servlet-name>
		<servlet-class>com.sep.web.WebRegister</servlet-class>
	</servlet>
<!--页面映射 -->	
	<servlet-mapping>
		<servlet-name>WebIndex</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebAnalysis</servlet-name>
		<url-pattern>/analysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebLogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebRegister</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
